<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-undo-outline" [routerLink] ="['/folder/inbox']"></ion-icon>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Muhamad Fahrizal Praditya</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <img src="../../assets/profile.jpeg" alt="My Profile">
    <p>Nama : Muhamad Fahrizal Praditya</p>
    <br>
    <p>Tanggal Lahir : 14 Desember 1996</p>
    <br>
    <p>Jurusan : Teknik Informatika(TI)</p>
    <br>
    <p>Angkatan : 2019</p>
    <br>
    <p>Alamat : Kalideres, Jakarta barat</p>
  </div>
  <div class="footer">
    <footer><b>Copyright &copy; 2021 Muhamad Fahrizal Praditya</b></footer>
  </div>
</ion-content>
